<!DOCTYPE html>
<html lang="ko" data-question-id="performance_dQ4">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. 음악 활동 중 어떤 스타일이 더 끌리나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/detail_questions/performance/performance_dQ5">🎻 클래식, 합주 중심</button>
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=performance_dQ4&option_index=0'">🎸 밴드, 창작곡, 편하게 음악 즐기기</button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=performance_dQ4&option_index=1'">🎧 힙합, 랩, 비트 중심 음악</button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=performance_dQ4&option_index=2'">🎸 락/메탈 등 강한 사운드</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>