<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q1. 나는 공연에서 어떤 형태의 활동을 선호하나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/detail_questions/performance/performance_dQ2">🎭 무대에서 직접 공연하는 것 (춤, 연기, 노래 등) </button>
        <button class="option-btn" data-href="/detail_questions/performance/performance_dQ4">🎼 악기나 음악 중심의 활동</button>
        <button class="option-btn" data-href="/templates/restul.html">🎪 기획/특수 예술 활동 (행사, 마술 등)</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>