<!DOCTYPE html>
<html lang="ko" data-question-id="performance_dQ2">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q2. 어떤 공연 형태가 가장 흥미롭나요? </div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=performance_dQ2&option_index=0'">🎤 노래 + 연기 모두 포함하는 뮤지컬</button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=performance_dQ2&option_index=1'">🎭 연극 중심</button>
        <button class="option-btn" data-href="/detail_questions/performance/performance_dQ3">💃 춤 중심</button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=performance_dQ2&option_index=2'">🪄 개인기술 + 오락 요소 (마술, 타로)</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>