<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q3. 클래식 연주는 어떤 방식을 더 선호하나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/result.html">🎻 오케스트라, 관현악 합주</button>
        <button class="option-btn" data-href="/templates/result.html">🎸 클래식 기타 중심</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>