<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q2. 어떤 분야의 학문에 관심이 있나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/result.html"> 🧭정치, 철학, 사회 변혁 - 철학 중심 실천 학회 </button>
        <button class="option-btn" data-href="/templates/result.html"> 🧭정치, 철학, 사회 변혁 - 정치학 전공 중심 연구 </button>
        <button class="option-btn" data-href="/templates/detail_questions/study/study_dQ5.html"> 📊 경제/경영/무역 분야   </button>
        <button class="option-btn" data-href="/templates/result.html"> 🔭 자연과학, 천문학 등 과학 탐구    </button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>