<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q2. 어떤 주제의 실용 활동인가요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/result.html"> 🍳 요리, 식문화 중심 활동 </button>
        <button class="option-btn" data-href="/templates/result.html"> 🗣️ 영어 회화와 외국인 교류 </button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>