<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q1. 어떤 종류의 활동을 더 좋아하나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/detail_questions/sports/sports_dQ2.html">⚽구기 스포츠(공으로 하는 경기)</button>
        <button class="option-btn" data-href="/templates/detail_questions/sports/sports_dQ2.html">🥋 무예 / 격투 / 전통 무술</button>
        <button class="option-btn" data-href="/templates/detail_questions/sports/sports_dQ2.html">🏞️ 탐험 / 자연 속 익스트림 스포츠</button>
        <button class="option-btn" data-href="/templates/result.html">🎯 두뇌 기반 스포츠 (정적인 경기)</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>