<!DOCTYPE html>
<html lang="ko" data-question-id="art_dQ3">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. 어떤 콘텐츠를 좋아하나요? </div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=art_dQ3&option_index=0'">📚 시·소설·수필 등 문학적 글쓰기</button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=art_dQ3&option_index=1'">📖 만화·애니메이션, 그림 창작</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>