<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q2. 어떤 콘텐츠를 좋아하나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/result.html">📚 시·소설·수필 등 문학적 글쓰기</button>
        <button class="option-btn" data-href="/templates/result.html">📖 만화·애니메이션, 그림 창작</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>