<!DOCTYPE html>
<html lang="ko" data-question-id="sports_dQ4">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q2</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. 자연에서의 활동 중 어떤 환경이 더 끌리나요?</div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=sports_dQ4&option_index=0'">🏔️ 산: 등산, 암벽, 종주, 볼더링</button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=sports_dQ4&option_index=1'">🪂 하늘: 패러글라이딩 </button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=sports_dQ4&option_index=2'">🌊 바다: 스쿠버다이빙</button>
        <button class="option-btn" data-option-index="3" onclick="location.href='/result?question_id=sports_dQ4&option_index=3'">🕳️ 지하: 동굴탐험 </button>
        <button class="option-btn" data-option-index="4" onclick="location.href='/result?question_id=sports_dQ4&option_index=4'">🎿 겨울 스포츠: 스키, 보드 </button>
      </div>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>