<!DOCTYPE html>
<html lang="ko" data-question-id="sports_dQ2">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q2</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. 어떤 구기 스포츠가 가장 끌리나요?</div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=sports_dQ2&option_index=0'">⚽ 축구</button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=sports_dQ2&option_index=1'">🏀 농구 </button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=sports_dQ2&option_index=2'">⚾ 야구</button>
        <button class="option-btn" data-option-index="3" onclick="location.href='/result?question_id=sports_dQ2&option_index=3'">🎾 테니스 </button>
        <button class="option-btn" data-option-index="4" onclick="location.href='/result?question_id=sports_dQ2&option_index=4'">🏈 미식축구 / 플래그풋볼</button>
      </div>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>