<!DOCTYPE html>
<html lang="ko" data-question-id="volunteer_dQ1">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q1. 어떤 형태의 봉사를 선호하나요?</div>
      <div class="options">
        <button class="option-btn" data-href="/detail_questions/volunteer/volunteer_dQ2">👨‍🏫 교육/언어 중심 봉사</button>
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=volunteer_dQ1&option_index=0'">🎨 예술·문화 기반 봉사 (벽화 등)</button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=volunteer_dQ1&option_index=1'">🌾 농촌·야외 활동 봉사</button>
        <button class="option-btn" data-href="/detail_questions/volunteer/volunteer_dQ3">🚩 적십자/국제기구 기반 종합 봉사</button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=volunteer_dQ1&option_index=2'">👫 일반적인 대인 봉사·친목 중심</button>
      </div>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>
