<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q1. 당신이 이 동아리에서 가장 중요하게 생각하는 것은 무엇인가요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/detail_questions/social/social_dQ2.html"> 🙌 정체성과 공동체(가치, 인권, 종교 등) (춤, 연기, 노래 등) </button>
        <button class="option-btn" data-href="/templates/detail_questions/social/social_dQ3.html">💼 실전 경험과 커리어(창업, 금융, 국제활동 등)</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>