<!DOCTYPE html>
<html lang="ko" data-question-id="social_dQ3">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q3</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. 어떤 분야의 커리어 경험이 더 흥미로운가요?</div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=social_dQ3&option_index=0'">🚀 스타트업, 창업, 네트워킹 </button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=social_dQ3&option_index=1'">💰 금융, 주식, 투자</button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=social_dQ3&option_index=2'">🌍 국제 활동(유엔, 외교, 봉사, 글로벌 네트워크) </button>
      </div>
    </div>
  </div>
</body>
</html>
