<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q1. 어떤 창작 활동이 가장 끌리나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/detail_questions/art/art_dQ2.html">🖌️ 시각예술(그림, 서예, 사진 등)</button>
        <button class="option-btn" data-href="/templates/detail_questions/art/art_dQ3.html">✍️ 문학·글쓰기·만화 등 스토리 중심 창작</button>
        <button class="option-btn" data-href="/templates/detail_questions/art/art_dQ4.html">. 🎬 영상 콘텐츠·광고 등 미디어 제작</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>