<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q2. 어떤 형식을 선호하나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/result.html">🎥 영화 감상 + 단편영화 직접 제작</button>
        <button class="option-btn" data-href="/templates/result.html">📢 기획력과 표현력을 살린 광고 제작</button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>