<!DOCTYPE html>
<html lang="ko" data-question-id="study_dQ4">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. 어떤 주제의 실용 활동인가요? </div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=study_dQ4&option_index=0'"> 🍳 요리, 식문화 중심 활동 </button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=study_dQ4&option_index=1'"> 🗣️ 영어 회화와 외국인 교류 </button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>