<!DOCTYPE html>
<html lang="ko" data-question-id="study_dQ5">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q3. 경영, 경제, 무역 중 어느 분야가 더 끌리나요? </div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=study_dQ5&option_index=0'"> 📈 경영 일반 - 국내 전통 학술 동아리 </button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=study_dQ5&option_index=1'"> 📈 경영 일반 - 외부 연합 중심 네트워크 강조 </button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=study_dQ5&option_index=2'"> 🌐 국제무역·통상 중심  </button>
        <button class="option-btn" data-option-index="3" onclick="location.href='/result?question_id=study_dQ5&option_index=3'"> 💰 경제학 심화 연구 중심  </button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>