<!DOCTYPE html>
<html lang="ko" data-question-id="Q1" data-question-index="1">
<head>
  <meta charset="UTF-8" />
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-indicator">
        <span class="dot active"></span><span class="dot"></span><span class="dot"></span>
      </div>
      <div class="question-text">Q1. 어떤 성격의 활동을 더 원하나요? </div>
      <div class="options">
        <button class="option-btn" data-href="/templates/detail_questions/study/study_dQ2.html"> 💻 IT, 기술, 프로그래밍 등 실습 중심 </button>
        <button class="option-btn" data-href="/templates/detail_questions/study/study_dQ3.html"> 🧠 인문사회/경제/정치/과학 등 이론 중심 학문 연구 </button>
        <button class="option-btn" data-href="/templates/detail_questions/study/study_dQ4.html"> 🌐 일상 기반 활동  </button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>