<!DOCTYPE html>
<html lang="ko" data-question-id="study_dQ2">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Q1</title>
  <link rel="stylesheet" href="/static/css/questionStyle.css" />
</head>
<body>
  <div class="container">
    <div class="question-box">
      <div class="question-text">Q2. IT관련 동아리 중 어떤 성향이 더 끌리나요? </div>
      <div class="options">
        <button class="option-btn" data-option-index="0" onclick="location.href='/result?question_id=study_dQ2&option_index=0'"> 🚀 서비스/창업 중심 프로젝트 </button>
        <button class="option-btn" data-option-index="1" onclick="location.href='/result?question_id=study_dQ2&option_index=1'"> 🧩 재미있게 코딩 배우기 중심 </button>
        <button class="option-btn" data-option-index="2" onclick="location.href='/result?question_id=study_dQ2&option_index=2'"> 🌍 IT 입문자 친화적 학습 중심  </button>
    </div>
  </div>
  <script src="/static/js/detailQuestions.js"></script>
</body>
</html>