<!-- templates/club_list.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ department }} 분과 전체 동아리</title>
  <link rel="stylesheet" href="/static/css/clubListStyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="page-title">✨ {{ department }} 분과 전체 동아리 ✨</h1>

  <div class="club-grid">
    {% for club in clubs %}
      <div class="club-card no-image">
        <div class="club-content">
          <h2 class="club-name">{{ club.name }}</h2>
          <p class="club-tags">태그: {{ club.tags }}</p>
          <p class="club-desc">{{ club.description }}</p>
        </div>
        <a href="{{ url_for('main_bp.show_club_detail', club_id=club.id) }}" class="detail-btn">상세 보기</a>
      </div>
    {% endfor %}
  </div>

  <div class="buttons">
    <button onclick="location.href='/'">처음으로</button>
    <button onclick="history.back()">이전으로</button>
  </div>


</body>
</html>

