<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AKoClub</title>
  <link rel="stylesheet" href="/static/css/indexStyle.css">
</head>
<body>
  <div class="main-bg">
    <div class="main-center">
      <div class="main-title">
        <span class="main-title-text">
          AK<span class="logo-replace">o
            <img src="/static/images/school_logo.png" class="main-logo-inline" alt="AkoClub 로고" />
          </span>Club
        </span>
      </div>
      <div class="main-sub">나에게 딱! 맞는 <span class="main-highlight">동국대학교</span> 동아리 찾기!</div>
      <div class="main-desc">관심사와 성격에 맞는 동아리를 찾아보자!</div>
      
      
      <a href="/questions/1" class="main-btn">
        <span class="main-btn-icon">👤</span> 탐색 시작하기 <span class="main-btn-arrow">»</span>
      </a>
    </div>

    <img src="/static/images/pop_Ako.png" class="main-mascot" alt="mascot"/>
  </div>
  <script src="/static/js/main.js"></script>
</body>
</html>