<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AKoClub</title>
  <link rel="stylesheet" href="/static/css/indexStyle.css">
</head>
<body>
  <form method="GET" action="/search" class="top-search-form">
    <input type="text" name="q" placeholder="동아리 이름, 태그 등으로 검색" class="top-search-input">
    <button type="submit" class="top-search-btn">검색</button>
  </form>
  <div class="main-bg">
    <div class="main-center">
      <div class="main-title">
        <span class="main-title-text">
          AKoClu<span class="logo-replace">b
            <img src="/static/images/school_logo.png" class="main-logo-inline" alt="AkoClub 로고" />
          </span>
        </span>
      </div>
      <div class="main-sub">나에게 <b>딱!</b> 맞는 <span class="main-highlight">동국대학교</span> 동아리 찾기!</div>
      <div class="main-desc">관심사와 성격에 맞는 동아리를 찾아보자!</div>
      
      
      <a href="/questions/1" class="main-btn">
        <span class="main-btn-icon">👤</span> 탐색 시작하기 <span class="main-btn-arrow">»</span>
      </a>
    </div>

    <img src="/static/images/pop_Ako.png" class="main-mascot" alt="mascot"/>
  </div>
  <script src="/static/js/score.js"></script>
</body>
</html>